<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <mat-icon>group</mat-icon>КК СКАЗКА</button>
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <a mat-button routerLink="/staff">
            <mat-icon>whatshot</mat-icon>
            ЛОШАДИ
        </a>
        <a mat-button routerLink="/services">
            <mat-icon>description</mat-icon>
            УСЛУГИ
        </a>
        <a mat-button routerLink="/articles">
            <mat-icon>library_books</mat-icon>
            МАТЕРИАЛЫ
        </a>
        <a mat-button routerLink="/contacts">
            <mat-icon>person_pin_circle</mat-icon>
            КОНТАКТЫ
        </a>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [mat-menu-trigger-for]="contactMenu">
        <mat-icon>phone</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #contactMenu="matMenu">
    <a mat-menu-item href="tel:8-968-182-17-95">8(968)182-17-95</a>
    <a mat-menu-item href="tel:8-950-047-01-22">8(950)047-01-22</a>
    <a mat-menu-item href="mailto:dl-skazka@mail.ru">dl-skazka@mail.ru</a>
</mat-menu>
<mat-menu x-position="before" #menu="matMenu">
    <a mat-menu-item routerLink="/staff">
        <mat-icon>whatshot</mat-icon>ЛОШАДИ
    </a>
    <a mat-menu-item routerLink="/services">
        <mat-icon>description</mat-icon>
        УСЛУГИ
    </a>
    <a mat-menu-item routerLink="/articles">
        <mat-icon>library_books</mat-icon>
        МАТЕРИАЛЫ
    </a>
    <a mat-menu-item routerLink="/contacts">
        <mat-icon>person_pin_circle</mat-icon>
        КОНТАКТЫ
    </a>
</mat-menu>
<router-outlet></router-outlet>