<div class="row">
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>add_location</mat-icon>
                    </div>
                    Наше местоположение
            </mat-card-header>
            <img mat-card-image src="/assets/map.jpg">
            <mat-card-content>
                <mat-card-content>
                    Санкт-Петербургский пр. 111, Шуваловка
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button color="primary" href="https://goo.gl/maps/uW2sAA18Srm" target="_blank">Google.Maps</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>directions_walk</mat-icon>
                    </div>
                    Как добраться
            </mat-card-header>
            <p class="subheading-1">
                На автомобиле
            </p>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <a mat-button color="primary" href="https://goo.gl/maps/vneb7A51UhC2" target="_blank">Из Санкт-Петербурга</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-button color="primary" href="https://goo.gl/maps/gWGMQP3mYQu" target="_blank">Со стороны Ломоносова и Кронштадта</a>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
