<div class="row">
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>add_location</mat-icon>
                    </div>
                    Наше местоположение
            </mat-card-header>
            <mat-card-content>
                <iframe height="300" width="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOfobiM1GlkYRIYksHk7nfzA&key=AIzaSyCdZpRvnOBnQ8__601gZC13omZIZk-V4S0&language=ru"
                    allowfullscreen>
                </iframe>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>phone</mat-icon>
                </div>
                Запись по телефонам
            </mat-card-header>
            <p>
                8(968)182-17-95
            </p>
            <p>    
                8(950)047-01-22
            </p>
        </mat-card>
        <!-- <mat-card class="margin10">
            <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>directions_walk</mat-icon>
                    </div>
                    Как добраться
            </mat-card-header>
            <p>
                На общественном транспорте:
            </p>
            <p>
                • от ст. метро "Автово" - автобус 200 или маршрутка 300 до остановки "посёлок Просвещение" (ориентир - красный кирпичный
                храм);
            </p>
            <p>
                • от ст. метро "Проспект Ветеранов" - маршрутка 343 до остановки "посёлок Просвещение" (ориентир - красный кирпичный храм);
            </p>
            <p>
                • из Нового Петергофа - автобус 351 до остановки "угол Собстверного проспекта и Бобыльской дороги"
            </p>
            <p>
                • от ж/д станции "Балтийский вокзал" до станции "Старый Петергоф на поездах направления "Калище" и "Ораниенбаум 1";
            </p>
            <p>
                На машине: Собственный проспект, 84
            </p>
        </mat-card> -->
    </div>
</div>