<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-content>
                <p>
                    Подарите себе, своим друзьям и близким самые незабываемые минуты в Вашей жизни!
                </p>
                <p>
                    Буря впечатлений, Ураган эмоций, Море позитива
                </p>
                <p>
                    и целая куча ярких фотографий на память!
                </p>
                <img mat-card-image src="/assets/avatar_small.jpg">
                <p>
                    Конный Клуб "СКАЗКА" приглашает Вас на верховые прогулки в Великолепный Петергоф!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>new_releases</mat-icon>
                </div>
                <mat-card-title>Новости</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <p>
                        Совсем недавно наши лошадки благополучно переехали в Русскую Деревню "Шуваловка".
                        Новый дом-конюшня оказался просто чудесным - чистым, светлым и с прекрасным заботливым персоналом! 
                        А для прогулок и фотосессий есть отличный нижний парк с хорошим грунтом, фонарями и выходами на Финский залив.
                    </p>    
                    <p>
                        А еще территория Шуваловки - просто отличное комфортное место для отдыха всей семьей с детьми. Здесь есть контактный зоопарк! 
                    </p>
                    <p>
                        Лошадки живут под одной крышей с пони, осликом, козами, кроликами, индюком, павлином, морскими свинками, да кого там только нет... 
                        На улице еще лис, енотовидная собака, овцы... и почти всех можно погладить и угостить🥕вкусняшкой.
                    </p>
                    <p>
                        - Большая детская площадка с героями из русских народных сказок
                    </p>
                    <p>
                        - Несколько кафе
                    </p>
                    <p>
                        - Удобная парковка
                    </p>
                    <p>
                        - Теплый туалет со всеми удобствами
                    </p>
                    <p>
                        В общем, мы потихоньку осваиваемся на новом месте и зовем вас в гости 👨‍👩‍👧‍👦!
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/avatar.jpg">
            <mat-card-content>
                <p>
                    ЛОШАДЬ, природы созданье чудесное,
                </p>
                <p>
                    С тобой единение чувствую тесное...
                </p>
                <p>
                    Ветру и времени только подвластное,
                </p>
                <p>
                    Вольным рожденное, вечно прекрасное!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>local_offer</mat-icon>
                </div>
                Наши услуги
            </mat-card-header>
            <mat-card-content>
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let service of services">
                            <mat-toolbar color="accent">
                                <button mat-button (click)="openDialog(service.id)">{{ service.name }}</button>
                            </mat-toolbar>
                            <img mat-card-image [attr.src]="'/assets/' + service.image">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
                <mat-card-actions>
                    <button mat-button (click)="navigate('services')">ВСЕ УСЛУГИ</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>book</mat-icon>
                </div>
                <mat-card-title>Наши статьи</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                        <button mat-button (click)="navigate('/articles/safety')">
                            Техника безопасности
                        </button>
                    </li>
                    <li>
                        <button mat-button (click)="navigate('/articles/why')">
                            Зачем все это
                        </button>
                    </li>
                    <li>
                        <button mat-button (click)="navigate('/articles/exersizes')">
                            Упражнения
                        </button>
                    </li>
                    <li>
                        <button mat-button (click)="navigate('/articles/quotes')">
                            Говорит тренер
                        </button>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-button (click)="navigate('articles')">ВСЕ СТАТЬИ</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>share</mat-icon>
                </div>
                <mat-card-title>Мы в социальных сетях</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a mat-menu-item href="https://www.instagram.com/kk_skazka/" target="_blank">
                    <mat-icon>photo_camera</mat-icon>
                    INSTAGRAM
                </a>
                <a mat-menu-item href="https://vk.com/dl_skazka" target="_blank">
                    <mat-icon>person</mat-icon>
                    ВКонтакте
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
