<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Каприз</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_1.jpg">
            <mat-card-content>
                <p>
                    Каприз он же Пашка он же Слон, самый старший в семье. Этот конь настоящий профессор! Он тонко чувствует всадника: неопытных
                    новичков катает очень бережно, а вот обучающимся спортсменам придется попотеть и применить на практике все,
                    чему научился.
                </p>
                <p>
                    Каприз знает, на что способен спортсмен, и потребует от него по полной программе. Он удивительно
                дружелюбный конь, весельчак, знает много трюков. Умеет делать поклон и просить ножкой вкусняшки. Каприз обладает
                нарядной мастью и очень эффектно получается на фотографиях. Он идеальный конь для обучения верховой езде
                и любых фотосессий.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Фрося</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/062da2e9f61c0d29f74e19e3c4510f4b/5B45D5E4/t51.2885-15/s750x750/sh0.08/e35/28765666_1635172026548234_4755716372309213184_n.jpg">
            <mat-card-content>
                Про нее можно сказать: "И в огонь, и в воду, и медные трубы." Лошадь для истинного богатыря: рослая, широкая, нарядная... Ее мало что может смутить или напугать. Куда направишь - там и пройдет. Для нее нет преград: будь то кусты, канавы, деревья или мосты. Она в любой ситуации найдёт решение.
                Но не стоит забывать, что за столь "мощной" внешностью скрывается ранимая женская натура. Как и любой женщине, ей нравится чувствовать себя любимой, а также отстаивать свою точку зрения.                    
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Бандит</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_4.jpg">
            <mat-card-content>
                <p>
                    Казалось бы, что можно ожидать от лошади с именем "Бандит", не зря же говорят "как назовешь, так и поплывет"? Но на самом деле остерегаться нечего.
                    Главный его "бандитизм" выражается в его желании Вас "зацеловать" и полазать по карманам.
                </p>
                <p>
                    Боночка — компанейский парень и настоящий джентельмен. Он бережно относится к людям. 
                    Конь сделает все, чтобы Вам было комфортно, а также что-то может "подсказать" сам.
                    Он подходит как под взрослых, так и под детей. Может многому Вас научить и поможет Вам прекрасно провести досуг :)
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_3.jpg">
            <mat-card-content>
                Ляля
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_2.jpg">
            <mat-card-content>
                Гуля. Порода Американский Бобер )))
            </mat-card-content>
        </mat-card>
    </div>
</div>