<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_1.jpg">
            <mat-card-content>
                <p>
                    Каприз он же Пашка он же Слон, самый старший в семье. Этот конь настоящий профессор! Он тонко чувствует всадника: неопытных
                    новичков катает очень бережно, а вот обучающимся спортсменам придется попотеть и применить на практике все,
                    чему научился.
                </p>
                <p>
                    Каприз знает, на что способен спортсмен, и потребует от него по полной программе. Он удивительно
                дружелюбный конь, весельчак, знает много трюков. Умеет делать поклон и просить ножкой вкусняшки. Каприз обладает
                нарядной мастью и очень эффектно получается на фотографиях. Он идеальный конь для обучения верховой езде
                и любых фотосессий.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_5.jpg">
            <mat-card-content>
                Фрося
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_3.jpg">
            <mat-card-content>
                Ляля
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_4.jpg">
            <mat-card-content>
                Бандит
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <img mat-card-image src="/assets/staff_2.jpg">
            <mat-card-content>
                Гуля. Порода Американский Бобер )))
            </mat-card-content>
        </mat-card>
    </div>
</div>