<mat-card class="margin10">
        <mat-card-title>
            Равновесие для всадника
        </mat-card-title>
        <mat-card-content>
            <p>
                Первое, чему должен научиться начинающий всадник - это сохранять равновесие. Корпус всадника расположен вертикально обязательно в самой глубокой точке седла на обеих тазовых костях. Руки и ноги к сохранению равновесия всадника отношения не имеют, и лишь при потере равновесия, когда грозит падение на землю.Первое время всадника учат ездить со стременами, а вот уже через несколько занятий можно пробовать перейти к упражнениям без стремян.Так вы приладите себе больше уверенности.
            </p>
            <p>
                Каждый всадник прежде всего должен научиться балансировать, сидя верхом на лошади, это так же необходимо, как и при езде на велосипеде. Только научившись сохранять равновесие, всадник может постоянно чувствовать ритм движения лошади, попадать в него и воздействовать на лошадь своим телом , благодаря мышцами пояснично-крестцового отдела и корпусом.
            </p>
            <p>
                Если же уверенности в сохранении равновесия у всадника не появится, то он никогда не сможет добиться должного успеха.
            </p>
            <p>
                Умение балансировать можно считать обретенным, если всадник и без стремян уверенно сидит на лошади, совершающей поворот или двигающейся серпантином, может поворачиваться, делать гимнастические упражнения и разговаривать.
            </p>
            <p>
                Также и всаднику, имеющему уже некоторые навыки, следует систематически ездить без стремян. 
                Очень полезно ездить верхом без седла. Вместо седла кладут попону и закрепляют ее троком. Так всадник быстрее научится сопровождать колебания спины лошади движением своего позвоночника, находить единый ритм движения.
                Это весьма приятное занятие, главное выбирать лошадь с мягкими аллюрами и хорошо выезженную, потому как от этого завит Ваше здоровье.
            </p>
            <p>
                Удачных тренировок, друзья.
            </p>
        </mat-card-content>
</mat-card>