<mat-card class="margin10" id="purpose">
        <mat-card-title>
            Пять причин заняться верховой ездой
        </mat-card-title>
        <mat-card-content>
            <p>
                1. Занятия на лошадях формируют великолепную осанку. Их рекомендуют при различных заболеваниях опорно-двигательного аппарата: артрозе, сколиозе, остеохондрозе. Верховая езда способствует укреплению мышечного корсета вокруг позвоночника, нормализации обмена веществ в межпозвоночных дисках, улучшению кровообращения и кровоснабжения всех органов и систем человека. Достигается уникальный эффект «живого тренажера».
            </p>
            <p>
                2. Реабилитация при многих заболеваниях опорного аппарата, сердечно-сосудистой системы и гипертонии. Особенно рекомендуют занятия на лошадях пациентам, которым противопоказаны другие виды спорта и физических нагрузок. При верховой езде в работу включаются те мышцы, которые в обычной жизни бездействуют. Верховая езда эффективно и самым щадящим и естественным образом укрепляет мышечный корсет, нормализует работу дыхательной, кровеносной и эндокринной систем.
            </p>
            <p>
                3. Лечение ожирения и целлюлита. Тряска в седле разбивает подкожный жир, скопление которого и приводит к целлюлиту. Езда рысью помогает сжечь 250 ккал в час. После таких энергозатрат можно спокойно позволить себе полакомиться чем-то вкусненьким. Постоянные занятия верховой ездой способствуют подтягиванию всех мышц тела. Вы выглядите стройнее и привлекательнее.
            </p>
            <p>
                4. Профилактика гиподинамии. В современной жизни человек все меньше двигается, так как львиную долю времени проводит в сидячем положении. Особенно это касается офисных работников, которые большинство времени проводят у компьютеров, а на работу и домой добираются общественным либо собственным транспортом. Верховая езда в плане задействования мышц гораздо эффективнее ходьбы пешком. Так, при ходьбе мы используем около 300 мускулов, при верховой езде – вдвое больше.
            </p>
            <p>
                5. Снятие стресса и усталости. В мире компьютеров, интернета, мобильных телефонов и бизнес-встреч человек очень подвержен стрессам, эмоциональным расстройствам и хронической усталости. Лошади излучают мощную положительную энергетику, которой может подпитываться человек. Это помогает снять стрессы, избавиться от депрессии и настроить себя на волну позитива. Кроме того, в результате таких занятий повышается самооценка. Недаром в некоторых случаях занятия иппотерапией рекомендуют вместо визита к психологам и психотерапевтам.
            </p>
        </mat-card-content>
</mat-card>