<mat-card class="margin10">
    <mat-card-title>
        Страхи отдельно взятой лошади
    </mat-card-title>
    <mat-card-content>
        <p>
            Больше всего на свете Арзамас боится, что его украдут враги - и не спрашивайте, откуда они у него. Никто не знает. Причем в собственной неотразимости и безусловной ценности для этих самых таинственных врагов конь уверен на сто процентов и переубедить его невозможно. Лошадиная паранойя такая вещь - лечится с трудом и регулярно возвращается. Приходится простить и понять.
        </p>
        <p>
            Враги у Романа скрываются повсюду. Они третий год живут в беседке около плаца - конь каждую тренировку смотрит на беседку с прищуром и не отказывает себе в удовольствии падать в обморок, если в беседке что-то шевельнулось. В туалете около плаца врагов целое полчище - притаились, коварные. В шинах для препятствий враги тоже сидят. Еще враги часто притворяются козами, курами и утками, а в иные дни и кот Элвис выглядит как-то подозрительно - конь тогда его рассматривает пристально, а потом шарахается. Незнакомые люди вообще все поголовно враги. Ибо нет у них других причин на конюшню прийти - только вот чтобы коня похитить. И точка.
        </p>
        <p>
            Чаще всего боится врагов конь в фоновом режиме и особо мне этот процесс не мешает. За исключением дней, когда обострение. Вот тогда приходится брать гипотетические яйца в кулак и напоминать коню, что всех врагов я на фарш порублю, а если кое-кто вместо нормальной работы продолжит стартовать от беседки галопищем каждый круг, то и его в колбасу закатаю. Буду потом жевать ее и плакать, хлебушком слезы промокать.
        </p>
        <p>
            В моменты пристального сканирования окружающего мира на предмет обнаружения врагов, рядом с конем лучше не дышать. Каждая падающая снежинка отдается в моем сознании пушечным выстрелом, а сорвавшийся с ветки в километре от нас с конем листочек может послужить катализатором феерической лошадиной истерики. Поэтому очень часто я прошу окружающих схорониться и не шевелиться, дабы лошадь успокоился и понял, что сегодня никому не нужен.
        </p>
        <p>
            Само собой, именно в тот момент, когда глаз лошадиный сияет отборной дурью, каждая нога по очереди подкашивается от избытка чувств, из головы доносятся счастливые вопли встрепенувшихся тараканов и достаточно малейшего шороха для резкого старта в стратосферу - начинается оно...Всестороннее шевеление.
        </p>
        <p>
            Из леса выдвигаются маршем колонны грибников. У каждого грибника в руке металлическое ведро с дребезжащей крышкой. И по палке. Грибники о палку спотыкаются, о ведро тоже и смачно матерятся.
        </p>
        <p>
            Мимо плаца собирается собачья свадьба голов на пятьдесят, нестройно гавкающая и скулящая на три октавы. Самые смелые прорываются на плац и пытаются откусить коню ноги.
        </p>
        <p>
            В поле за забором начинается парад сельскохозяйственной техники, включающий конкурс на самый громко тарахтящий трактор.
        </p>
        <p>
            На конюшню сползаются все глубоко нетрезвые отдыхающие Владимирской области, дрожащие от желания погладить лошадку, а еще покататься, пообщаться и вообще, девушка, познакомиться и отдохнуть не желаете?
        </p>
        <p>
            По полю прокладывают трассу, по которой без перерыва двигаются автомобили и каждый считает своим долгом бибикнуть лошадке.
        </p>
        <p>
            К плацу стекаются кошки, собаки, козы, куры и утки, начинаются весело бегать вокруг и орать на все лады. Котик пикирует из беседки коню на голову.
        </p>
        <p>
            Кто-нибудь запирается в туалете около плаца и забывает, как открыть его обратно. Туалет дергается и угрожающе раскачивается. Из него глухо доносятся проклятья.
        </p>
        <p>
            Аккурат над плацем зависает летающая тарелка, зачем-то пытающаяся найти по Владимирской области разумную жизнь, смотрит на коня и разочарованно улетает, громко газанув и окутав все едким дымом.
        </p>
        <p>
            Толпа свидетелей Иеговы размахивая брошюрками кидается коню под копыта и хочет поговорит о Боге.
        </p>
        <p>
            В трех метрах от плаца бригада строителей начинает пилить здоровенный брус плохо смазанными бензопилами.
        </p>
        <p>
            В беседке в самом разгаре разнузданная оргия, оттуда коню на голову летят бутылки, огрызки и чье-то нижнее белье. И опять котик.
        </p>
        <p>
            Колонна грибников идет обратно в лес, теперь у каждого по два ведра с дребезжащей крышкой и по две палки в каждой руке. Спотыкаются и матерятся они теперь гораздо интенсивнее.
        </p>
        <p>
            Деревенское стадо коров во главе с быком-производителем Васей выламывает забор и идет по плацу в сторону кормовой. За Васей волочится здоровенная цепь и звенит.
        </p>
        <p>
            Толпа сатанистов в черных балахонах начинает ритуал прям на плацу. Громко звучит латынь. Орет привязанный в центре пентаграммы черный козел.
        </p>
        <p>
            В поле разворачиваются учения местной военной части. Взрываются снаряды, едут танки, дымят полевые кухни. Граната падает коню под ноги, вслед за ней летит банка тушенки.
        </p>
        <p>
            Местный церковный хор устраивает репетицию рядом с плацем. Сатанисты осуждающе косятся из-за балахонов. Привязанный в центре пентаграммы козел продолжает орать.
        </p>
        <p>
            В метре от коня падает метеорит.
        </p>
        <p>
            С помойки приносит ошеломляющее количество пакетов и газет, хороводом кружащих вокруг плаца.
        </p>
        <p>
            На конюшенном огороде находят нефть и начинают бурить землю.
        </p>
        <p>
            На плац приходит толпа хоббитов во главе с магом и спрашивает, как пройти в Мордор. Ибо они странствуют по темным землям и пока нашли только Александров, но там так ужасно, что даже в Мордоре лучше.
        </p>
        <p>
            В поле начинаются испытание ядерного оружия и возникает Третья мировая война.
        </p>
        <p>
            А ты сидишь на полоумном коне и думаешь "да блять, ну я же просила ВСЕМ ТИХО АРЗАМАС СТОЯЛ ТРИ НЕДЕЛИ Я ПОШЛА ЕГО РАБОТАТЬ ЕСЛИ НЕ ВЕРНУСЬ ЗАВЕЩАЮ КОТОВ И КРОЛИКА ВАМ ну неужели нельзя было просто молчать минут двадцать и не топать в беседке??"
        </p>
        <p>
            И так почти каждый раз. Кажется, паранойя теперь не только у коня, но и у меня. Какое счастье, что вне обострений он ласковый шушпанчик☺
        </p>
        <a mat-button color="primary" align="right"
           href="https://vk.com/id2690665?w=wall2690665_1318" target="_blank">
            <mat-icon>person</mat-icon>Ольга Кушнир
        </a>
    </mat-card-content>
</mat-card>