<mat-card class="margin10">
    <mat-card-title>
        Памятка при общении с лошадью
    </mat-card-title>
    <mat-card-content>
        <p>
            Подойдя к лошади в темной конюшне, убедитесь, что это действительно лошадь. У лошади должно быть четыре ноги, два уха, и осмысленный взгляд. Если ноги две, а взгляд блуждающий - поздравляю, вы нашли конюха. Аккуратно обойдите его по кругу, стараясь не беспокоить, и идите дальше искать лошадь.
        </p>
        <p>
            Если лошадь вам не рада (а она вам не рада, даже если не показывает этого), покажите ей, что вам наплевать. Откройте дверь ногой, завалитесь в денник, и, почесывая гипотетически волосатую грудь, шмыгните носом. Для пущего эффекта можно сиплым голосом поинтересоваться у лошади «шо, не сдохла еще, скотинка ты моя?» Если стоящий в коридоре конюх прослезиться в умилении – можете собой гордиться, вы все делаете правильно. 
        </p>
        <p>
            Перед чисткой лошади обязательно совершите древний ритуал возложения лопаты неподалеку от денника. Этот языческий обычай позволяет наладить с лошадью контакт, сразу сделает ее доброй и дружелюбной. Если не помогло, можно использовать усиленную версию ритуала – крестный ход с лопатой в денник. Этот метод работает всегда.
        </p>
        <p>
            Если лошадь не стоит спокойно, и, узрев вас с щеткой, поворачивается к вам пятой точкой – не отчаивайтесь. Просто вам попалась лошадь – ценитель бальных танцев. Не ругайте талантливую лошадку, вместо этого покружитесь вместе с ней! Когда она будет озадаченно трясти закружившейся головой и пытаться собрать глаза в кучу, можете себя поздравить – лошадь признала в вас хорошего партнера. Можете ее чистить.
        </p>
        <p>
            Когда лошадь не дает чистить пузико, круп или уши, лупит ногами и топает – ее можно понять. Она на самом деле развивает вашу реакцию! Когда над вами опять просвистит нога, можно похвалить лошадь фразами вроде «Мазила!», «Перелет!», «Недолет!», «Я в домике!», «Пиу-пиу-пиу!», «Трехочковый!» и так далее. Когда лошадь поймет, что связалась с идиотом, она перестанет топать.
        </p>
        <p>
            Если лошадь ну никак не хочет стоять в деннике и ломится в проход с упорством юного носорога - не ругайте ее. Боженька ее накажет. Позвольте лошадке проявить инициативу и выйти, ведь мы-то помним, что где-то в коридоре скрывается конюх. Когда вам вернут помятую и погрустневшую лошадь, назидательно сообщите ей, что Минздрав предупреждал.
        </p>
        <p>
            Во время седловки внимательно следите за лошадью. Если она во время затягивания подпруги вцепилась зубами в деревянную дверь – ничего страшного. Просто по папиной линии она бобер. А целлюлоза очень полезна для здоровья. Хотя от деревянной ручки лопаты лошадь с ужасом отскакивает. Наверное, сорт не тот.
        </p>
        <p>
            Любая нормальная лошадь будет стоять стиснув зубы, когда на нее надевают уздечку. Таким образом животное демонстрирует свою суровость. Бороться с этим довольно легко. Нужно с ужасом посмотреть куда-то вбок от лошади и, ткнув туда пальцем, заорать «О! Трезвый конюх!» Лошадь тут же удивленно откроет рот, ну а вам нужно воспользоваться моментом и вложить ей трензель.
        </p>
        <p>
            Если в процессе выхождения из конюшни ваша лошадь с большим энтузиазмом бросается изучать каждое ведро, кормушку и пакет – не теряйтесь. Совершив очередной головокружительный полет на поводе в сторону мешка с овсом, просто начните делать тоже самое. Весело кидайтесь на всякую ерунду в проходе, не забыв прихватить с собой лошадь. Еще великими доказано – совместное занятие фигней очень сближает. Вы узнаете, сколько в проходе хлама, а лошадь в очередной раз убедится, что вы идиот. А конюху в любом случае веселье.
        </p>
        <p>
            Когда при попытке сесть на лошадь, вы вдруг замечаете, что ваша деликатная скотина аккуратненько от вас отходит – похвалите воспитанную лошадку. Она уступает места инвалидам, пенсионерам и беременным женщинам. Переверните ее внутренний мир, быстренько сев в седло с другой стороны. И Вам полезно, и лошадь в шоке.
        </p>
        <p>
            Великая лошадь с долей снисходительности позволяет Вам на ней ездить. И ходит туда, куда ей нужно. Поэтому перед первым занятием рекомендуем вам выучить следующие молитвы и народные наговоры: «Во славу тренеру», «О здравии забора и сына его огороженного плаца», «Молебен на долгое житие корды», «Хвосту и смене за ним идущей песнь», «На защиту от козла лукавого и свечи коварной», «Изгнание чертей в дальнем углу» и так далее. Они помогут вам морально подготовится к занятию.
        </p>
        <p>
            Лошадь прекрасна, и она знает об этом. Дабы никто не забывал столь очевидную вещь, лошадь частенько выходит в центр плаца и встает там, окруженная ореолом почета и всеобщего поклонения. Даже не пытайтесь сдвинуть ее с места – памятники не двигаются. Памятник способно оживить лишь одно – прилетевший голубь-тренер, нагадивший бичом лошади прямо в душу.
        </p>
        <a mat-button color="primary" align="right"
           href="https://vk.com/id2690665?w=wall2690665_1488" target="_blank">
           <mat-icon>person</mat-icon>Ольга Кушнир
        </a>
    </mat-card-content>
</mat-card>