<mat-card class="margin10">
    <mat-card-title>
        Ошибки всадника: руки
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="article-image-container">
                <div class="margin10 article-card">
                    <img style="width: 100%;" src="/assets/articleHandMistakes2.jpg">
                </div>
            </div>
        </div>
        <p>
            1. Неправильное положение кисти (низко, высоко, широко, близко). Кисти на расстоянии кулака от холки и на расстоянии ширины рта между собой.
        </p>
        <p>
            2. Кисти завернуты (держим руль велосипеда) или вывернуты наружу (это вобще рагуль, но бывает). Помним про стаканчики. Только стаканчики. 
        </p>
        <p>
            3. Открытая кисть -ничего общего с мягкой. Кисть всегда закрыта и не напряжена.
        </p>
        <p>
            4. Неспокойные руки. 
        </p>
        <p>
            5. Открытые, сдвинутые назад, вытянутые вперед, прямая рука. Правильно:свободно опущенное вниз предплечье, согнутые в локте руки. Не вывернутые, не отставленные от корпуса.
        </p>
        <p>
            6. Провисший или брошенный повод. НИКОГДА. Только постоянный контакт. Лошадь не научится правильно взаимодействовать с железом если вы его постоянно бросаете. 
        </p>
        <p>
            7. Работа одним поводом , чаще всего в повороте. Категорически нет, поворачиваем в двух поводьях. За счет работы корпуса и плечевого пояса (ваши плечи при прохождении поворота меняют свое положение относительно таза) внешняя рука дает лошади возможность вытянутся наружной частью шеи. При этом внутренний повод не тянем на себя, кисти все так же на одном уровне, не зажимаем лошади внутреннюю сторону шеи и плечо. 
        </p>
        <p>
            8. Неспокойные локти. Локти никогда не выходят за пределы корпуса. Работа рукой только от корпуса, не от локтя.
        </p>
        <p>
            9. Рука работает к себе, тянет назад. КАТЕГОРИЧЕСКИ НЕТ!!! Никогда, ни в какой ситуации. Мы двигаем лошадь вперед, при езде, отработке постановлений, остановок и переходов рука не работает НАЗАД. 
        </p>
        <p>
            10. Упор в поводе, повод как точка опоры, всадник держится за него, облегчается за счет повода, вытягивая себя из седла. НЕТ!!!
        </p>
        <div class="row">
            <div class="article-image-container">
                <div class="margin10 article-card">
                    <img style="width: 100%;" src="/assets/articleHandMistakes1.jpg">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
