<mat-card class="margin10">
        <mat-card-title>
            Тренинговая система Пессоа
        </mat-card-title>
        <mat-card-content>
                <p>
                    Любители, как правило, садятся на уже готовых (или, по крайней мере, не молодых) лошадей, поэтому зачастую мало знают о различных дополнительных приспособлениях для заездки и тренинга. Профессионалы же охотно пользуются системой Пессоа, которая призвана обеспечить полноценной «гимнастикой» любую лошадь, работающую на корде. В этой статье мы разберемся, что же такое шлея, или лонжа Пессоа и с чем ее «едят»?
                </p>
                <p class="mat-subheading-2">
                    В бараний рог
                </p>
                <p>
                    Рассуждая о системе Пессоа, прежде всего стоит обозначить, что мы понимаем под дополнительными средствами управления. Обычно это снаряжение, которое используется на лошади помимо стандартного седла и трензельного или мундштучного оголовья. 
                    Функция практически всех дополнительных приспособлений заключается в том, чтобы заставить животное опустить голову и подвести задние ноги и таким образом добиться правильного положения спины. 
                </p>
                <p>
                    Чаще всего, чтобы добиться сбора, наши соотечественники пользуются шпрунтом, шамбоном, резинкой или развязками. У всех этих средств есть свои плюсы и минусы, однако их объединяет одно – практически все виды существующих развязок крепятся к подпруге или к седелке и лишь заставляют лошадь тянуть голову к туловищу, неестественно напрягая шею. При этом о развитии мускулатуры спины, передних и задних конечностей речь даже не идет.
                </p>
                <p class="mat-subheading-2">
                    Полный привод
                </p>
                <p>
                    Система Пессоа – изобретение известного бразильского спортсмена Нельсона Пессоа, отца одного из ведущих конкуристов современности Родриго Пессоа. Благодаря своему пытливому уму и огромному практическому опыту Нельсон в свое время придумал немало приспособлений для более эффективного тренинга лошадей. 
                    Лонжа состоит из ремней, карабинов и роликов и позволяет лошади принять правильное положение во время работы на корде, чтобы в дальнейшем обрести баланс и нарастить мышцы. 
                    Система Пессоа создана таким образом, что каждое движение задних ног лошади «отзывается» во рту, побуждая ее опускать голову ниже. В таком положении мышцы спины растягиваются, укрепляются и «прокачиваются».
                </p>
                <p>
                    Если же лошадь тянет, лонжа заставляет ее сильнее подводить зад. Преимущество системы Пессоа состо­ит в эргономичности конструкции (отсутствие жесткой фиксации) и комплексном воздействии. 
                    Ремни легко ре­гулируются, что позволяет надевать лонжу и на крупных, и на небольших лошадей, включая пони (140–150 см). 
                    Применение лонжи для упитанных животных даст им шанс сбросить вес, лошади со слабой мускулатурой смогут ее укрепить, а молодняку система поможет обрести хорошую форму. 
                    Систему Пессоа используют в четырех различных положениях в зависимости от уровня подготовки коня и его физической формы.
                </p>
                <p>
                    Как же работает система Пес­соа? 
                    Прежде всего, она направлена на взаимодействие с лошадью, а не на грубое подчинение. Если конь сопротивляется, поднимая голову, он почувствует давление на рот и задние ноги, как только он опустит голову или расслабит челюсть, давление пропадает. 
                    Перед использованием системы Пессоа на лошадь надевают ногавки или бинты, седелку и уздечку (без повода). 
                    К седелке крепится центральный карабин, от которого по бокам лошади в сторону крупа расходятся стропы, прикрепленные к ободочному ремню, который должен располагаться на уровне коленного сустава лошади. 
                    К трензельным кольцам крепятся два других карабина с роликами по обеим сторонам, сквозь которые пропускают стропу. 
                    Крепления строп к гурте и ободочному ремню устроены так, чтобы была возможность регулировать длину стропы под инди­видуальные размеры лошади. 
                    Вообще, система Пессоа продается всегда с полной инструкцией, которая позволяет правильно ее использовать. В качестве общих рекомендаций важно не затягивать ремни слишком сильно, так как это не способствует развитию правильных движений, а загоняет лошадь в требуемое положение насильственным образом.
                </p>
                <p class="mat-subheading-2">
                    Четыре стихии
                </p>
                <p style="white-space: pre-wrap;">Система Пессоа предусматривает четыре положения (шеи) животного 
    - нижнее, 
    - среднее, 
    - высокое 
    - выездковое
                </p>
                <p>
                    Начинать работу стоит с самой нижней позиции, когда стропа проходит между передними ногами лошади и крепится к подпруге. 
                    Такая позиция помогает познакомить лошадь с лонжей и позволяет ей мягко потянуться вниз и начать работать плечами. 
                    В любом случае тренинг обязательно начинают с нижней позиции, постепенно перестегивая карабины выше. 
                    Средняя позиция дает возможность развить шейные мыш­цы. Высокая позиция соответствует работе в сборе под верхом и позволяет добиться баланса на галопе. Наконец, выездковая позиция предназначена для тренинга лошадей под выездку и рекомендуется для закрепления высокого постава шеи.
                </p>
                <p class="mat-subheading-2">
                    Кто правит бал
                </p>
                <p>
                    Некоторые считают систему Пессоа неэффективной или просто бесполезной. Почему это происходит? 
                    Во-первых, человеку иногда бывает сложно разобраться в таком скоплении ремешков и карабинов. 
                    Во-вторых, тренинг будет эффективным только тогда, когда лошадь правильно движется вперед, а это целиком и полностью зависит от компетентности кордового. 
                    Голова животного никогда не должна уходить за вертикаль, и лонжа скорее корректирует положение головы, чем удерживает ее в определенной позиции. 
                    Лошадь необходимо хорошо высылать вперед, чтобы она двигалась действительно свободно, и здесь продвижение вперед важнее положения головы.
                </p>
                <p class="mat-subheading-2">
                    Золотая середина
                </p>
                <p>
                    Как часто и как долго можно и нужно использовать систему Пес­соа? 
                    Лучше всего включить работу с этой лонжей в постоянный тренинг. 
                    Если лошадь полностью детренирована, следует дать ей не менее пяти-шести недель на восстановление, прежде чем начать использование системы Пессоа. 
                    Работа помогает поставить лошадь в правильное положение, но это не отменяет работу под верхом, поэтому для достижения лучших результатов тренинг должен быть сбалансированным. 
                    Обычно 30 минут работы на лонже является эквивалентом часа тренинга под седлом.
                </p>
                <p>
                    Для здоровой лошади в хорошей форме эксперты рекомендуют разогрев на лонже в нижнем положении в течение примерно десяти минут, затем работу в другом положении, в зависимости от подготовки лошади и предъявляемых к ней требований, в течение 15 минут, а затем снова работу в нижнем положении на расслабление. 
                    На каждом этапе коня следует работать в обоих направлениях. 
                    Для менее подготовленной и обмускуленной лошади важнее дольше ра­­ботать в нижнем положении. 
                    В целом лонжа Пессоа – это мощная система тренинга, поэтому профессионалы рекомендуют посте­пен­ное ее внедрение в программу обучения и короткие, но правильные тренировки.
                </p>
                <p class="mat-subheading-2">
                    Путь к пьедесталу
                </p>
                <p>
                    В заключение хочется сказать, что практически у любой системы можно найти и достоинства, и недостатки. Некоторые критикуют систему Пессоа за слишком сильное воздействие (трензель резко дергает лошадь за рот на каждом темпе в неправильном положении). 
                    Тем не менее эта система уже довольно долго и успешно применяется многими спортсменами, включая и сына самого автора это­го изобретения, обладателя олимпийского золота в Афинах и огромного числа других наград Род­риго Пессоа.
                </p>
                <a mat-button color="primary" align="right"
                   href="http://www.goldmustang.ru/" target="_blank">
                    <mat-icon>web</mat-icon>Gold Mustang
                </a>
        </mat-card-content>
</mat-card>