<mat-card class="margin10">
    <mat-card-title>
        Подберите повод! А как?
    </mat-card-title>
    <mat-card-content>
        <p>
            Подбор повода кажется такой ординарной вещью, о которой, казалось бы, все уже сказано. Но практика показывает, что далеко не все всадники, в том числе уже обладающие опытом, подбирают повод не правильно.
        </p>
        <p>
            Да, в тот момент, когда вы боретесь с нюансами боковой работы или с менками в темп, последнее, о чем вам хотелось бы слышать, это подбор повода. Но именно эта элементарная мелочь может значительно ухудшить производительность вашей лошади.
        </p>
        <p>
            Подбор повода – важнейший навык, который оказывает влияние на гармонию между лошадью и всадником. Поскольку длина повода корректируется постоянно, особенно перед переходами от одного аллюра к другому, всадник должен научиться делать это автоматически.
        </p>
        <p>
            К сожалению, техника подбора повода изучается и прорабатывается всадниками недостаточно хорошо. Многие всадники нарушают ритм и баланс своей лошади настолько, что переход не получается вовсе. Другие и не осмеливаются подбирать повод, потому что рот их лошади настолько чувствителен, что каждая попытка ведет к появлению отрицательного напряжения, выдергиванию лошадью повода или нарушениям ритма.
        </p>
        <p>
            Подбор повода - это сложное движение, включающее в себя несколько этапов: подготовку, поддержку, расслабление одной кисти, перенос ее в новое положение и ее повторное закрытие. В течение всего процесса ваш постоянный контакт со ртом лошади должен оставаться мягким, вы должны продолжать чувствовать рот лошади. В идеале движение ваших рук ритмично объединяется с движением лошади, таким образом сохраняя ритм и равновесие. И все это время ваша посадка должна оставаться такой же хорошей, как обычно.
        </p>
        <p class="mat-subheading-2">
            Как правильно подобрать повод
        </p>
        <p>
            Это действие может изучить, разбив его на отдельные элементы - "шаги". Когда вы поймете и почувствуете уверенность, выполняя эти маленькие шаги, из которых состоит движение, вы сможете выполнить общую задачу автоматически, даже не задумываясь.
        </p>
        <p>
            Прежде всего, вам нужно решить, какой из поводьев вы хотите подобрать. Если вам нужно подобрать оба, всегда начинайте с внешнего. У многих всадников входит в привычку начинать со своей более сильной и развитой руки. Лошадь может это раздражать, поскольку она поддерживает свое равновесие на положительном контакте с внешним поводом.
        </p>
        <p>
            Другой неправильный, но часто используемый метод - укорачивание повода одной рукой, путем перебирания пальцами вниз по поводу. Таким образом невозможно поддерживать контакт со ртом лошади. Если вы используете этот метод, вы создаете ненужные колебания во рту лошади. В результате она может потерять доверие к вашему контакту.
        </p>
        <p>
            Вы не должны смотреть на свои руки, когда подбираете повод. Направленный вниз взгляд имеет серьезные негативные последствия для баланса как лошади, так и всадника. К сожалению, эта "упрямая" вредная привычка очень распространена.
        </p>
        <p class="mat-subheading-2">
            Поднимаем взгляд!
        </p>
        <p>
            Точно так же, как вы планируете и заранее готовитесь к переходу, вы должны учитывать, что и подбор повода требует определенного времени и "проезжаемого расстояния". Начинающему всаднику может понадобиться вся длинная стенка манежа, прежде чем он, наконец, подберет повод; опытный всадник не должен тратить на это расстояние более чем одой длины корпуса лошади.
        </p>
        <p>
            Работайте над навыком правильного сокращения повода. Полезно для изучения и совершенствования этой техники подбирать повод не на лошади или на лошади, стоящей неподвижно, но такой способ скорее «теоретический». Фактически вы работаете над навыком только тогда, когда лошадь двигается.
        </p>
        <p>
            Изменение длины повода не должно влиять или нарушать качество аллюра.
        </p>
        <p class="mat-subheading-2">
            Подбираем повод. Пять шагов.
        </p>
        <p>
            (ездой налево, подбираем оба повода)
        </p>
        <p>
            1. Перехватываем повод, который укорачиваем. Ваша левая рука подбирает правый повод и помогает поддерживать постоянный контакт со ртом лошади в оба повода.
        </p>
        <p>
            2. Раскрываем правую кисть. Ваша правая - внешняя – кисть слегка открывается снизу вверх так, чтобы большой и указательный пальцы контролировали повод. (Эти пальцы обладают наибольшей чувствительностью и контролем над движением). Остальные пальцы остаются в своем обычном положении, даже если они больше не контролируют повод.
            Укорачивая повод, сохраняем чувство рта лошади!                
        </p>
        <p>
            3. Укорачивание / скольжение. Ваша правая рука скользит вдоль повода, слегка придерживая его и сдвигая слегка наружу. (Придерживая повод, вы сохраняете стабильное чувство рта лошади). Вы можете укоротить повод ровно до той позиции, до которой его поддерживает левая кисть.
        </p>
        <p>
            4. Закрываем правую кисть/ перехватываем левый повод. Когда вы достигли желаемой длины правого повода, снова закройте правую кисть и прихватите ею левый повод, как описано в шаге 1. Повторите предыдущие шаги левой рукой.
        </p>
        <p>
            5. Укорачивание поводьев. Когда необходимо еще немного сократить повод, одна ваша кисть подбирает оба повода и держит их перед второй кистью. Свободной кистью полностью отпускаете повод и снова перехватываете его, когда желаемая длина будет достигнута.
        </p>
        <p class="mat-caption">
            Сюзанна фон Дитце (источник), отрывок из книги «Rider & Horse Back to Back»; перевод Валерии Смирновой.
        </p>
        <a mat-button color="primary" align="right"
           href="https://horsenetwork.com/2018/01/youre-probably-shortening-reins-wrong/" target="_blank">
            <mat-icon>person</mat-icon>horsenetwork.com
        </a>
    </mat-card-content>
</mat-card>
