<mat-card class="margin10" id="rope_exersizes">
        <mat-card-title>
                Упражнения на корде
        </mat-card-title>
        <mat-card-content style="white-space: pre-wrap;">
1. Движения руками. Оно самое простое. Всадники по команде поднимают руки вверх, разводят в стороны, вперед, на пояс. Это упражнение позволяет новичку привыкнуть к тому, что он едет без повода и стремян. 

2. Повороты корпуса направо/налево. При этом необходимо обращать внимание на правильное положение ног: двигается только корпус. Для усложнения задания попросите всадников немного потянуться назад и достать рукой до репицы хвоста лошади. 

3. Качание шенкелем. Всадники плотно прижимают колени к седлу и качают шенкелем вперед/назад. 

4. Наклоны к шее лошади. Необходимо снова обратить внимание всадников на положение шенкеля. Во время наклонов удобнее даже немного выводить ноги вперед в сторону плеча лошади. 

5. Наклон к носку. Им можно завершить «зарядку» для начинающих. Всадники, наклонившись через шею лошади, касаются пальцами правой руки носка левой ноги. Потом упражнение повторяется по другой диагонали. Необходимо следить за второй ногой во время наклона: шенкель должен лежать на месте, а не «уезжать» к паху лошади. 

Для последующих занятий «зарядку» рекомендуется усложнить. Для начала всадники «разогреваются», выполняя предыдущие пять упражнений. 

6. Наклоны на круп лошади. Всадник должен не просто отклонить корпус назад, желательно, чтобы он лег на лошадиный круп и несколько секунд полежал на нем расслабленно, покачиваясь в такт движениям коня. Подниматься из этого положения нужно без помощи рук. Наклоны на круп – очень эффективный метод накачивания пресса. Ноги не должны елозить по седлу и бокам лошади, а находиться на своем месте. 

7. Стойка на коленях. Всадники подтягивают колени вверх по седлу, соединяя их «домиком» над передней лукой. Теперь они должны приподняться без помощи рук. В идеале всадники должны стоять прямо на сведенных коленях. 

8. Перенос ног через шею лошади. Для начала посадите всадников «по-дамски», позвольте им немного привыкнуть к такой посадке. После этого предложите им держаться одной рукой за заднюю, а другой за переднюю луки седла. По команде всадники переносят через шеи лошадей сначала одну, затем вторую ногу, пересаживаясь на правый бок. В идеале обе ноги должны переноситься одновременно. Для удобства корпус лучше немного отклонить назад. 

9. Хлопок ногами над шеей лошади. Всадники берутся руками за заднюю луку седла и, отклонившись назад, поднимают прямые ноги вверх, пока они не соединятся над шеей коня. Это упражнение должно выполняться резко, рывком, так как делать его медленно трудно и неудобно. 

Следующие несколько упражнений рекомендуются для тех, кто уже более уверенно держится в седле. Перед началом каждого из них лошадей необходимо остановить! Всадники начинают выполнять эту часть «зарядки» на шагу только после того, как будут достаточно уверенно справляться с ней на стоящей лошади. 

10. Хлопок ногами над крупом лошади. Всадники берутся руками за переднюю луку седла и, наклонившись вперед, резко выбрасывают прямые ноги назад и вверх, стараясь хлопнуть ими над лошадиным крупом. Объясните новичкам, что это упражнение также нужно делать резко и быстро, стараясь не задевать ногами пах и круп лошади. 

11. «Вертушка». Всадник садится «по-дамски», затем левой рукой берется за переднюю луку седла, а правой за заднюю. Далее он переворачивается лицом к лошади, ложась животом на седло, и махом переносит правую ногу через круп, возвращаясь к обычной посадке. Когда всадники овладевают «вертушкой» с левой стороны лошади, предложите им сделать то же самое справа. Упражнение получается чуть сложнее. 

12. Езда лежа. Выполняется на шагу. Всадник начинает упражнение так же, как «вертушку», но не садится в седло, а остается лежать на нем животом вниз и старается максимально расслабиться в такт движению коня. Для того чтобы усложнить задачу, предложите всаднику полежать в седле на спине, придерживаясь за переднюю и заднюю луки седла.
        </mat-card-content>
    </mat-card>