<mat-card class="margin10" id="purpose">
    <mat-card-title>
        Пальцы у лошадей
    </mat-card-title>
    <mat-card-content>
        <p>
            У предков лошадей дополнительные пальцы играли важную роль, помогая ногам выдерживать большую нагрузку во время бега, но потом все пальцы, кроме среднего, стали просто лишними.
        </p>
        <p>
            Самые первые предки современных лошадей жили около 50 млн лет назад. Это были небольшие животные, размером с собаку, они бегали по лесам и на ногах у них было по четыре и по три пальца (по четыре – на задних, по три – на передних).
        </p>
        <p>
            Потом случились изменения климата, и очередные разновидности лошадиных вышли на открытые пространства. Тут они стали увеличиваться в размерах, стали быстрее бегать, в их анатомии произошли серьезные изменения – так, среди прочего, у них постепенно исчезли все пальцы, кроме среднего, и появились копыта – роговые образования, эквивалент нашего ногтя, полностью закрывающие палец.
        </p>
        <p>
            Эволюция лошадей хорошо изучена благодаря множеству костей, оставшихся от самых разных древних видов. На открытом пространстве степей, саванн и лугов лошадям нужно было быстро двигаться, и преимущество получали те особи, которые были крупнее, и исчезновение боковых пальцев хорошо совпадает с увеличением массы тела и удлинением ног. И все же – почему только один палец?
        </p>
        <p>
            В статье в Proceedings of the Royal Society B исследователи из Гарварда анализируют историю лошадей с точки зрения биомеханики. Стефани Пирс (Stephanie Pierce) и ее коллеги с помощью компьютерной томографии попытались оценить, как кости ног тринадцати вымерших видов справлялись с нагрузкой.
        </p>
        <p>
            В результаты авторы работы пришли к выводу, что у ранних лошадей боковые пальцы играли довольно существенную роль. Например, у парагиппуса, который жил как раз в то время, когда уменьшались леса и появлялись обширные равнины, пальцев было по три на каждой ноге, хотя они были слиты вместе и защищены одним копытом (хотя и не таким развитым, как у следующих лошадей). Парагиппус был уже довольно велик, около метра в холке, и два боковых пальца помогали распределять нагрузку так, чтобы не допустить травм – трещин, переломов костей и т. д.
        </p>
        <p>
            Но лошади продолжали расти, их масса увеличивалась, ноги удлинялись, бегали они все быстрее, и нагрузка на пальцы становилась все сильнее. Растущую нагрузку в первую очередь чувствовал средний палец, который постепенно делался все больше. В конце концов появились лошади, у которых был очень разросшийся, массивный средний палец, а боковые в лучше случае оставались либо в виде рудиментов, либо совсем исчезали. Когда исследователи попытались приставить к ногам таких «однопальцевых» лошадей нормальные, хорошо развитые дополнительные пальцы, то оказалось, что с биомеханической точки зрения они почти никакого преимущества не дают – средний палец сам научился справляться со всей нагрузкой.
        </p>
        <p>
            То есть нельзя сказать, что участь боковых пальцев у лошадей была предопределена с самого начала – до поры до времени они работали так же, как и средний палец, принимая на себя часть веса и защищая кости конечностей от травм. Но лошади делались все больше и быстрее, и в какой-то момент стало ясно, что средний палец стал главным, а та очень небольшая польза, которую могут принести боковые пальцы, уже не оправдывает те ресурсы, которые на них нужно тратить.
        </p>
        <div class="row">
            <div class="article-image-container">
                <div class="margin10 article-card">
                    <img style="width: 100%;" src="/assets/articleWhySingleFinger.jpg">
                </div>
            </div>
        </div>
        <a mat-button color="primary" align="right"
            href="http://nkj.ru" target="_blank">
            <mat-icon>person</mat-icon>Кирилл Стасевич, Наука и Жизнь
        </a>
    </mat-card-content>
</mat-card>