<mat-card class="margin10" id="trainer_tells">
        <mat-card-title>
                Говорит тренер
        </mat-card-title>
        <mat-card-content style="white-space: pre-wrap;">
- Дистанция – это когда между ушей своего коня ты видишь впереди идущие ноги задней лошади… 

- Ногами, посылай ногами… ВПЕРЕД НОГАМИ!!! 

- Почему у тебя опять задница сзади, а не спереди?! 

- Пятку вниз, кисти рук стоймя, рука мягче, так… А теперь подведи зад! 

- Шагайте, они еще дышат… 

- Возьми коня в одну руку, а конец в другую. Если конь убежит, то хоть конец в руке останется… 

- Да не отрывай так резко свой зад! Отрывай его плавнее! 

- Рукой, рукой, ногой, о, черт, опять не встал… 

- Юля, ты же можешь сесть ровно, спину расправить, ты же в жизни не такая кривая! 

- Вот взять бы эту твою ногу, с… сломать по-правильному… 

- Морду попроще сделай, а то другие лошади боятся. 

- Ты что, руками не видишь, куда он смотрит?! 

- Да вдави же ее наконец ж…ой в песок! 

- Не надо прыгать вперед лошади, это опасно! 

- Лошади под вами должны потеть и не дышать, а они дышат и не потеют! 

- Разогни ей шею, а то она у тебя бежит лбом вперед! 

- Прекрати упираться локтями в подбородок! 

- Перекиньте стремена через плечи. 

- И убери наконец ухо с плеча! 

- Чего сидишь, отбери у нее левую челюсть! 

- Зачем ты ей голову между ног засунула?! Доставай! Доставай!

- Все, как отшагаешь, иди замочи лошадь 

- У вас между ушей должны быть копыта, а не скакательный сустав… 

- Боишься?! Иди крестиком вышивай! 

- Не завязывайте ноги под брюхом. Тем более – на бантик. 

- Вольт должен быть круглый! Круглый! А ты чего яйца квадратные выписываешь?!

- Что? Не можешь больше?! Тогда еще 4 круга. 

- Ты разве не видишь, что зад бегает отдельно от коня! 

- А что у нас с вольтами? У нас не МТС спонсор соревнований!

- Хватайся за уши, вы уже взлетаете… 

- Галоп! УЖЕ галоп! Уже 5 минут, как галоп… Ладно, нафиг, продолжайте шагать. 

- Зад ушёл! 

- Поясницу нашла? Покажи! Да не рукой, а задницей! 

- А чего, Ленка, твой вислопопый дирижабль когда попенцию подберет и головушку топориком повесит – таким персиком бежит, что очень даже ничего получается… 

- Ну что это за порнография, мне нужен здоровый секс… 

- Хватит висеть, будто созреть собралась! Сядь в седло! Ну или падай… 

- Рука – это нихрена не нога!!! 

- Не хлопай задом по седлу, спину отобъешь… 

- Не показывай мне яйца! (значит, между прочим, – "опиши нормальный вольт")

- Да-а, у него правая челюсть всегда хромала… 

- (на весь манеж) Спешите видеть! Только у нас! Осьминог в седле!!! 

- (комментарий прыжка) Чисто, технично… А теперь еще раз, только лошадку надо взять с собой! 

- Внешний повод от колена назад. 

- Зажми коня между ног и живи вместе с ним. 

- Сделай ему ногой предложение! 

- Пятку вниз, пятку вниз, пятку вниз, блиииииииииин, носок вверх!!! 

- Едешь, как будто мать – доярка, отец – тракторист. 

- Приведи лошадь в человеческий вид! 

- Пятку от бедра назад! 

- Подними ей затылок ногами! 

- Так хомяка посылают… Чтоб он в аквариум залез. 

- Не дергай рукой, а то встанет! 

- Он тебе не муж, чтоб на шею садиться! 

- Расслабься, а лошадь пусть получает удовольствие. 

- Поверь коню! Конь умнее тебя! 

- Прибавляй галоп! Еще! Еще! 12 часов ночи! Ты едешь за водкой, и магазин сейчас закроется! 

- Помнишь, как на велосипеде поворачивать надо? Забудь! 

- Что ты как Гастелло бросаешься на препятствие, а потом летаешь, как мартышка с гранатой! 

- Да посылай же ты лошадь, а то я сама тебя сейчас пошлю! 

- Да не стесняйся ты своих ног, стесняйся своих рук 

- Сокращай! Еще, еще, на месте отбиваем чечеточку… А теперь, пока он не опомнился – ПРИБАВЛЯЙ!!! 

- Обними лошадь ногами, как любимую женщину… 

- Не давай ему баб разглядывать… 

- Что вы тараканите, как сороконожки?! 

- Ты мне попрыгай, ты мне еще попрыгай! Я тебе щас так попрыгаю, что ты у меня допрыгаешься!!
        </mat-card-content>
    </mat-card>