<mat-card class="margin10" id="rope_exersizes">
    <mat-card-title>
        Развиваем импульс конкурной лошади
    </mat-card-title>
    <mat-card-content>
        <p>
            Известный тренер и спортсменка Карен Брейн так определяет понятие «импульс» для конкура: «Импульс – это желание двигаться вперед с большей энергией, чем нужно для простого движения прямо. Это рвение идти вперед, которое лошадь предлагает каждый шаг, а еще это простота управления. Импульс делает прыжок конкурной лошади округлым, «чистым», с хорошей техникой». Карен выступает за Канаду на международной троеборной арене, а также она тренер 2-ого уровня FEI.
        </p>
        <p>
            Лошадь без импульса идет короткими шагами, с минимальным захватом пространства и плохо поднимает ноги. Это сильно сокращает ее шансы прыгнуть чисто. Кроме того, без импульса лошадь вынуждена совершать силовые прыжки, а значит, велика вероятность, что она очень скоро откажется прыгать вообще. Отсутствие импульса может быть очень опасно на конкурной арене: лошадь может не долететь, особенно прыгая оксер, и упасть, запутавшись в жердях. Импульс для прыжковой работы – это, прежде всего, безопасность.
        </p>
        <p>
            Упражнения на восьмерке многофункциональны: они развивают импульс, учат лошадь балансу, собранности и проводимости, а также успокаивают излишне возбудимых лошадей.
        </p>
        <p>
            Для этого упражнения вам понадобиться установить на восьмерке, каждая из петель которой равно 25 метрам в диаметре, 8 прыжков: два оксера, «итальянец» и клавиши из 5 препятствий. Расставьте их так, как показано на картинке.
        </p>
        <div class="row">
            <div class="article-image-container">
                <div class="margin10 article-card">
                    <img style="width: 100%;" src="/assets/articleImpulse.jpg">
                </div>
            </div>
        </div>
        <p>
            Высота оксеров зависит от подготовки спортивной пары. В любом случае не стоит делать ее больше 110 и меньше 60 см. Для начинающих всадников и молодых лошадей установите не параллельные брусья, а двойники. Клавиши должны быть установлены так, чтобы жердь лежала на земле (или на самой низкой колобашке) внутренней стороной, а наружная сторона была приподнята над землей на высоте 60-80 см. Для неопытных спортсменов можно сократить количество прыжков до трех.
        </p>
        <p>
            Препятствия будут доставляться постепенно, чтобы дойти до полного комплекта может понадобиться несколько тренировок.
        </p>
        <p>
            - для начала уберите жерди, оставьте только стойки и пройдите несколько раз восьмерку без прыжков. Убедитесь, что можете поддерживать нужную траекторию движения, а лошадь активно двигается вперед и легко меняет ногу в центре восьмерки.
        </p>
        <p>
            - затем поставьте жерди в клавишах. Прыгаете ровно посередине. «Замедляется ли ваша лошадь или же ускоряется за пару темпов до клавиш? Смещается ли она ближе к внутреннему краю? Все это признаки потери импульса», — рассказала Карен.
        </p>
        <p>
            - теперь поставьте жерди в первом оксере. В идеале лошадь должна сохранять ритмичный галоп с хорошим импульсом при выходе из клавиш, затем спокойно преодолевать оксер без лишних подсказок всадника. Если лошадь замедляется или ее шаги становятся более растянутыми и плоскими, дошлите ее шенкелем на спокойную руку;
        </p>
        <p>
            - поставьте «итальянец». Его ценность в том, чтобы показать, насколько стабилен ритм лошади и насколько она подконтрольна всаднику. «Итальянец» должен преодолеваться как очередной темп галопа. Если вы не можете попасть под ногу, вам приходится доталкивать или же сокращать лошадь – значит вы теряете импульс.
        </p>
        <p>
            - наконец поставьте жерди в последнем оксере. «Если лошадь сохранила импульс, то вы будете чувствовать округлые, активные шаги, легкий контакт с поводом и желанием лошади двигаться вперед. В таком случае вы легко преодолеете этот оксер», — поясняет Карен.
        </p>
        <p>
            - снова зайдите на клавиши. Это научит лошадь сохранять ритм и импульс, не растягиваться и не ускоряться после оксера. Опять же, если лошадь несет себя сама, двигается с импульсом и хорошим ритмом, клавиши не вызовут проблем. Если у вас возникают трудности – вам есть над чем работать.
        </p>
        <p>
            После каждого прыжка задавайте себе вопрос: «Держит ли моя лошадь ритм и скорость, или мне приходится все время толкать ее шенкелем? Хватает ли ей импульса для чистых и техничных прыжков?»
        </p>
        <p>
            Будьте внимательным всадником, замечайте, с какими именно проездами были проблемы. Лошадь теряет импульс в клавишах? Может она излишне разгоняется перед оксером или после него? Или никак не может попасть на «итальянец»? Эти сведения бесценны для дальнейшей работы.
        </p>
        <p>
            Это упражнение не самое легкое, но оно очень полезно для развития импульса. Кроме того, оно отличные тест на его наличие и стабильность.
        </p>
    </mat-card-content>
</mat-card>