<mat-card class="margin10">
        <mat-card-title>
            Упражнения на разминку
        </mat-card-title>
        <mat-card-content>
            <p>
                Упражнение №1 - расположить брусья на расстоянии друг от друга - 20 метров. При прохождении брусьев на галопе важно учитывать равное количество темпов. Необходимо обращать внимание на баланс лошади и синхронизацию всадника и лошади. 
            </p>
            <div class="row">
                <div class="article-image-container">
                    <div class="margin10 article-card">
                        <img style="width: 100%;" src="/assets/articleRidingExersize1.jpg">
                    </div>
                </div>
            </div>
            <p>
                Упражнение №2 - тренировка связок на галопе. Расположить брусья на удобную для Вас высоту на расстоянии 32 м от кавалетти. Пройти связку несколько раз, чтобы добиться комфортного взаимопонимания всадника и лошади. Затем можно добавить в середину связки оксер, усложнив задачу. Упражнение помогает развить у всадника точность расчета при подходе к препятствию.
            </p>
            <div class="row">
                <div class="article-image-container">
                    <div class="margin10 article-card">
                        <img style="width: 100%;" src="/assets/articleRidingExersize2.jpg">
                    </div>
                </div>
            </div>
            <p>
                Упражнение №3 - гимнастическое упражнение на управление и расчет на галопе. В упражнении можно использовать как кавалетти и небольшие высоты до 70 см для начинающих всадников, так и комбинировать кавалетти с оксером от 100 см. Расположить препятствия необходимо на расстоянии 6 - 6,5 м друг от друга. Упражнение так же способствует обучению всадника и лошади выпрыжке из любого положения препятствия.
            </p>
            <div class="row">
                <div class="article-image-container">
                    <div class="margin10 article-card">
                        <img style="width: 100%;" src="/assets/articleRidingExersize3.jpg">
                    </div>
                </div>
            </div>
            <p>
                Главное помнить, что комплекс упражнений необходимо выполнять в полном объеме за одну тренировку. Особенно для тех всадников, кто решил потренироваться, используя эти задания, первый раз.
            </p>
        </mat-card-content>
</mat-card>