<mat-card class="margin10">
    <mat-card-title>
        Что делать, если лошадь заставляет вас понервничать
    </mat-card-title>
    <mat-card-content>
        <p>
            На написание этой заметки меня вдохновила моя шестнадцатилетняя ученица, наконец, справившаяся с сопротивлением ее лошади простым и эффективным способом. И использовать его может каждый!
        </p>
        <p>
            После небольшой передышки на шагу она должна была перевести лошадь в рысь и встать на вольт, чтобы мы могли поработать над переходами в галоп с правой ноги, которые иногда получались не четко. Возможно, ученица волновалась, ожидая от коня сопротивления, возможно, ее конь пришел к выводу, что прошагивание символизировало окончание тренировки и принял самостоятельное решение о том, что на сегодня работы достаточно. Так или иначе, но, как только всадница начала подбирать повод, конь заложил уши и выдернул его. Всадница потихоньку подобрала повод и попросила протестующего подняться в рысь, на что конь задрал голову и принялся ожесточенно грызть трензель. Такое поведение он использовал и раньше, чтобы напугать мою ученицу, когда ему не хотелось работать.
        </p>
        <p>
            Мы проверяли коня на наличие травм и заболеваний, идеально подобрали седло, пробовали различные трензеля и т.д., однако в итоге пришли к выводу, что его "выходки" не были связаны с той или иной физической причиной. Конь вел себя подобным образом, когда всадница нервничала и давала ему смешанные сигналы - например, выдвигала шенкелем вперед, в то время, как ее руки и седалище были напряжены и закрыты.
        </p>
        <p>
            Что обычно срабатывало? Всадница смягчалась, начинала глубже дышать и позволяла лошади двигаться вперед, сопровождая это легкими сигналами средств управления и исправляя коня, если было необходимо. Обычно он возвращался к работе довольно легко, но иногда действительно замыкался, всадница начинала нервничать, предчувствуя, что он сейчас начнет козлить, пытаясь выбить ее из седла. В результате она закрепощалась и зажималась. Эта реакция была понятна, но от нее становилось только хуже - ситуация усугублялась. Если начинается такой круговорот, то надо работать и над всадником, и над лошадью.
        </p>
        <p>
            И вот однажды, когда все началось заново, я увидела, что она действует иначе, чем обычно. Моя ученица глубже села в седло и весьма убедительным, сдержанным тоном сказала коню: «Это не так сложно, мы можем это сделать!» ... и после этих слов конь поднялся в рысь, как ни в чем не бывало.
        </p>
        <p>
            Я не могла не улыбнуться. Конечно, как тренеру, мне было приятно слышать, как моя ученица говорит моими же словами, но главным было не этом. Когда она произносила эти слова с такой убежденностью, все ее тело отражало внутреннюю уверенность, и вместо того, чтобы напрягаться и зажиматься, хватаясь за повод, она села глубоко в седло, смягчила руки и выслала коня вперед. Она сделала все так, как это должно быть, ЗНАЯ и ВЕРЯ, что все сработает! Когда конь почувствовал в ней эту уверенность, он прекратил проверять всадницу "на прочность". Он перестал пытаться "поторговаться " с ней и просто начал работать. Конь принял ее контроль над собой, понял, что авторитет всадницы не стоит оспаривать.
        </p>
        <p>
            Возможно, моя ученица действительно испытала уверенность, которую я услышала в ее голосе, хотя это могло быть и не совсем так (она всегда была достаточно нервным всадником, и ей приходилось подталкивать саму себя, чтобы расширить диапазон своих возможностей). Может быть, она знала, что я не отстану от нее и не завершу урок на такой ноте, а может ей просто наконец-то надоело такое поведение коня. В любом случае, она собрала себя в кулак и продемонстрировала ему свою уверенность в том, что работа продолжится. Возможно она не знала, что все получится, но ее настрой, заставил коня перестать в ней сомневаться. Ее словесный и невербальный сигналы стали четкими, не было никакого колебания, никакого намека на возможность другого пути. Она просто попросила лошадь выполнить действие, и ее просьба была четкой, ясной и не суетливой. И это сработало!
        </p>
        <p>
            Уверенный конь под уверенным в себе всадником
        </p>
        <p>
            Вам нужны несколько сильных слов, тех, которые вселяют в вас уверенность, что вы МОЖЕТЕ, слов, которые заставляют вас чувствовать себя сильными и контролирующими ситуацию. «Это не сложно», «Это не страшно» или «Я знаю, как это сделать», тех, которые сделают вас более решительными и побудят к действию.
        </p>
        <p>
            В ситуациях, похожих на ту, какую я описала выше, лошади пытаются убедить вас, что что-то может пойти не так, как вам бы хотелось. Часто сомнения приходят к лошади от вас самих, поэтому идея состоит в том, чтобы стереть сомнения из вашего собственного разума, тогда ваше тело не будет подавать лошади противоречивые сигналы. Лошадь - это наше отражение, наше тело передает ей информацию даже о нашем моральном состоянии. Вы можете думать о том, что вы справитесь, но подсознательно колебаться, и ваша лошадь почувствует даже это.
        </p>
        <p>
            "Я проеду мимо того странного камня решительно, стараясь не дать лошади испугаться", - думаете вы, и зажимаетесь, когда лошадь действительно пугается. Но на самом деле, думая о том, что лошадь испугается, мы уже мысленно передаем ей нашу нервозность и неуверенность еще до того, как она увидит "конееда"! Лошадь чувствует наш страх и задается вопросом , что же "нехорошего " мы видим в этом странном камне, может, ей тоже надо присмотреться и увидеть монстра? Вот и готово запрограммированное "пророчество".
        </p>
        <p>
            Затем, когда лошадь испугалась, мы думаем: «Боже, хорошо, что я была готова к этому "конееду"!», и проезжаем мимо следующего камня точно так же. Таким образом мы можем обучать наших лошадей пугаться всего, а себя делаем "нервными всадниками".
        </p>
        <p>
            Так называемые нервные всадники часто учатся использовать свое тело так, чтобы нервировать лошадей. Они садятся на лошадь, заставляют ее нервничать и, затем, когда лошадь начинает проявлять беспокойство, нервничают уже в открытую. К сожалению, такие всадники склонны, в последствии, бросать занятия верховой ездой, которые не приносят им удовольствия, а только заставляют волноваться. Они отказываются понимать, почему каждая лошадь, на которую они садятся, начинает пугаться "конеедов".
        </p>
        <p>
            Если такие всадники смогут использовать инструмент, который использовала моя ученица, они смогут стать уверенней в езде еще до начала движения, их уверенность перейдет на лошадь и езда верхом станет безопаснее. Такая езда может дать всаднику реальную уверенность. Чем чаще всадник чувствует, как уверенность, которая предшествует действию, переносится на само действие, тем легче ему потом перестраиваться. Этот процесс требует времени, но позволяет заложить в сознание по крайней мере семена уверенности.
        </p>
        <p>
            В следующий раз, когда ваша лошадь начнет замыкаться, пугаться или нервничать, попробуйте использовать определенные наполненные энергией слова, чтобы убедить себя, что вы можете справиться с этим, и использовать тон своего голоса, чтобы побудить вашу лошадь почувствовать уверенность в вас, как в лидере.
        </p>
        <p class="mat-caption">
            Перевод Валерии Смирновой
        </p>
        <a mat-button color="primary" align="right"
           href="http://dressagefundamentals.com/a-tool-for-times-your-horse-makes-you-nervous/" target="_blank">
            <mat-icon>person</mat-icon>dressagefundamentals.com
        </a>
    </mat-card-content>
</mat-card>
