<mat-card class="margin10">
        <mat-card-title>
            Как убрать сопротивление челюсти
        </mat-card-title>
        <mat-card-content>
            <p>
                Сопротивление и зажатость челюсти лошади не дает ей расслабить мышцы шеи, а значит и исключает легкий контакт с поводом и правильный сбор. Напрягая челюсть, лошадь неизбежно напрягает шею, особенно в области ганашей, что затрудняет ее дыхание, Также напряжение шеи сказывается на свободе и широте движений. Используя это простое упражнение в руках, можно помочь лошади научиться уступать давлению железа без напряжения. Этот базовый навык сделает лошадь более отзывчивой и гибкой, облегчит работу над сгибаниями (боковым и прямым).
            </p>
            <p>
                Наденьте оголовье. Для работы вам понадобится бокс с задней стенкой, например мойка, бокс для седловки, или же угол манежа. Главное, чтобы оно было знакомо лошади, место, где она чувствует себя защищенной, однако не может отступить назад. Лучше не использовать для этой цели денник, так как он для отдыха, а не для работы. Повод должен свободно лежать на шее. Встаньте перед лошадью, чуть сбоку от ее головы. Будьте внимательны и не наклоняйтесь над ней: резко вскинув голову, лошадь может лишить вас зубов.
            </p>
            <p>
                Возьмитесь за повод, пропустив большие пальцы сквозь кольца трензеля. Легкими вращательными движениями кисти к себе и вниз попросите лошадь смягчить челюсть. Используйте минимальное давление.
            </p>
            <div class="row">
                <div class="container">
                    <div class="margin10 article-card">
                        <img style="width: 100%;" src="/assets/articleRemoveTension1.jpg">
                    </div>
                </div>
            </div>
            <p>
                Наша цель – расслабить лошадь, чтобы она потянулась вперед и вниз, расслабив ганаши и растянув мышцы шеи и спины. Посмотрите на свою лошадь, если она выглядит расслабленно, ее взгляд спокойный и дружелюбный, значит вы на правильном пути.
            </p>
            <p>
                Когда лошадь опустила голову, расслабилась, и вы не чувствуете никакого сопротивления челюсти, чуть увеличите давление на правый повод, сделав небольшое постановление направо. Следите за тем, чтобы уши лошади были на одном уровне. Она должна лишь немного согнуться в ганаше, но не заваливать затылок. Повторите упражнение налево. Не пытайтесь собрать лошадь, она должна тянуться вперед и вниз.
            </p>
            <div class="row">
                <div class="container">
                    <div class="margin10 article-card">
                        <img style="width: 100%;" src="/assets/articleRemoveTension2.jpg">
                    </div>
                </div>
            </div>
            <p>
                Похвалите лошадь, отпустите повод.
            </p>
        </mat-card-content>
</mat-card>