<mat-card class="margin10">
    <mat-card-title>
        Бросаем стремена
    </mat-card-title>
    <mat-card-content>
        <p>
            Езда без стремян - особое испытание для начинающих всадников, однако без нее - никуда! Возможно, когда вы слышите указание тренера "Бро бсить стремена!", у вас по спине бежит холодок. Но стоит ли так переживать?
        </p>
        <p>
            Да, езда без стремян иногда может казаться пыткой, особенно, если вы ездите на тряской лошади. Но в то же время езда без стремян - отличный способ улучшить свою посадку и укрепить ноги. Она учит нас находить баланс в седле и развивать независимую посадку. Умение ездить без стремян с комфортом и без риска полезно и тем, что вас перестанут пугать нештатные ситуации, связанные с потерей стремени, случись они на домашней тренировке или на соревнованиях. Вместо того, чтобы паниковать и замедлять / останавливать лошадь, чтобы подобрать стремя, вы сможете продолжить движение, пока на ходу не подберете его вновь.
        </p>
        <p>
            Ездить без стремян часами вовсе не обязательно - достаточно бросать их на 5-10 минут на каждой тренировке.
        </p>
        <p class="mat-subheading-2">
            Бросаем стремена
        </p>
        <p>
            Бросьте стремена, протяните пряжку путлища вниз на пару сантиметров и перебросьте стремена перед седлом крест на крест. Сложите путлища настолько плотно, насколько это возможно, чтобы вы не ощущали под ногами выпуклости.
        </p>
        <p class="mat-subheading-2">
            Шаг
        </p>
        <p>
            Начните с шага. Пройдитесь по всему манежу или плацу. Постарайтесь оставаться расслабленным, свесьте ноги вниз. Найдите свой баланс посередине седла. Равномерно надавите на обе седалищные кости. Держите голени близко к бокам лошади, но не цепляйтесь за них. Сидите красиво и высоко.
            Расслабьтесь.
        </p>
        <p>
            Если вы чувствуете себя немного зажато, нервничаете во время езды без стремян, покрутите голенями во время шага. Рисуйте круги в воздухе носками ступней минуту или две.
        </p>
        <p class="mat-subheading-2">
            Рысь
        </p>
        <p>
            Перейдите к учебной рыси. Зачем? Вас, вероятно, начнет отбивать от седла, если вы сразу же попытаетесь поехать строевой рысью. Попросите лошадь немного замедлиться и постарайтесь сесть глубоко в седло. Подумайте о том, чтобы сидеть высоко и прямо. Пусть ваши ноги свисают настолько свободно, насколько это возможно, потому что, если вы будете цепляться ими за лошадь, то станете сами выбивать себя из седла и напрягаться еще больше, а, соответственно, зажиматься и нервничать. Сделайте все возможное, чтобы расслабиться и попытаться следовать за движениями вашей лошади. Дышите глубоко и медленно, это должно помочь вам расслабиться.
        </p>
        <p>
            Не работайте на учебной рыси без стремян слишком долго - движения неопытного всадника могут быть весьма дискомфортными для лошади.
            Как только вы освоитесь на учебной рыси без стремян, вы можете попробовать поехать строевой. Но это упражнение не из легких!
        </p>
        <p>
            Прижмите плотнее голени к бокам лошади и слегка наклонитесь вперед. Ваша лошадь должна совершать естественные, толкающие движения на рыси, чтобы «выталкивать» вас из седла. Старайтесь не подниматься слишком высоко и не плюхаться в седло на приземлении. Ваши ноги должны удерживать ваш вес и контролировать ваши телодвижения.
        </p>
        <p>
            В первый раз, когда вы попробуете поехать строевой рысью без стремян, вы можете перейти в «режим выживания», впившись коленями в седло и завалившись вперед. Попытайтесь ослабить вашу "мертвую хватку", приподнимайтесь не высоко и разрешите ритму рыси помочь вам привставать из седла. Сделайте только один или два круга по манежу на строевой рыси - не перенапрягайтесь, не работайте "через боль". Обращайте внимание на состояние лошади. Если она закладывает уши и хвостит, то, вероятно, она не довольна тем, что происходит, - возьмите стремена и дайте ей передохнуть.
        </p>
        <p class="mat-subheading-2">
            Галоп
        </p>
        <p>
            Вы можете удивиться, обнаружив, что работать без стремян на галопе гораздо проще, чем на рыси, потому что галоп -это более плавный аллюр. Попросите вашу лошадь подняться в галоп (внутренний шенкель у подпруги, внешний надавливает на бок лошади за подпругой). Как и в случае с рысью, постарайтесь не валиться вперед. Сидите глубоко на седалищных костях. Просите от лошади быстрого ответа на ваш посыл в галоп. Не стучите по ней бесконечно и не выпрыгивайте из седла, пока она игнорирует ваши средства управления и бежит рысью.
        </p>
        <p>
            На галопе ваши ноги должны находиться у боков лошади, но не держитесь за нее коленями.
        </p>
        <p class="mat-subheading-2">
            Работа рысью по жердям
        </p>
        <p>
            Работая без стремян, вы можете рысить через жерди. Это упражнение выполняют как на учебной, так и на строевой рыси. Ведите лошадь в шенкелях, чтобы побудить ее двигаться по жердям активно и ритмично. При езде по жердям можно практиковать полупосадку.
        </p>
        <p class="mat-subheading-2">
            Прыжки
        </p>
        <p>
            Если вы способны работать без стремян на шагу, рыси и галопе, то можете попробовать начать преодолевать небольшие препятствия. Поставьте несколько маленьких крестовин. Встаньте в прыжковую посадку в нескольких темпах от барьера, как со стременами, и положите руки на шею лошади. Ваши первые прыжки могут быть неловкими, и вы можете потерять равновесие; вот почему важно схватиться за гриву - так вы не дернете лошадь за рот, если отстанете или потеряетесь в прыжке. Вы можете надеть на лошадь специальный ремешок и придерживаться за него. Когда вы приземляетесь, садитесь в седло и прижимайте шенкеля к бокам лошади.
        </p>
        <p>
            Если вы чувствуете, что можете упасть, или приносите лошади ощутимый дискомфорт, пытаясь восстановить равновесие и прыгая в седле, переведите лошадь в шаг и приведите себя в порядок. Верховая езда без стремян не должна быть болезненной для вас или вашей лошади. 
        </p>
        <p>
            Да, езда без стремян сложна, особенно с непривычки. Но...я решил спросить, что думает о ней моя ученица, полностью выкладывающаяся на каждой тренировки:
        </p>
        <p style="white-space: pre-wrap;">
- Итак, Миа, как Вам работа без стремян?
- У этой лошади очень тряская рысь, и она очень ленива на галопе, поэтому сидеть на учебной рыси и сохранять равновесие, прося ее двигаться вперед, - это вызов.
- Значит, езда без стремян слишком утомительна?
- Самое утомительное - это мои попытки сохранить "лицо" и посадку, работая без стремян. Я кажусь себе ужасной!
- У Вас болят ноги после тренировок?
- Да, они обычно болят сразу после работы без стремян, а затем на следующий день. Утром я делаю несколько упражнений на растяжку и это помогает.
- Планируете ли Вы продолжить такие тренировки, несмотря на дискомфорт?
- Разумеется! Потому что я вижу разницу "до" и "после". Мои ноги с каждым разом становятся все сильнее сильнее, а я становлюсь более уверенной в себе.
        </p>
        <p class="mat-caption">
            Лесли Уорд; перевод Валерии Смирновой.
        </p>
    </mat-card-content>
</mat-card>
