<mat-card class="margin10" id="safety">
            <mat-card-title>
                    Техника безопасности при работе с лошадью для посетителей конного клуба
            </mat-card-title>
            <mat-card-content style="white-space: pre-wrap;">
В конюшне и местах работы лошадей запрещается:

1. Шуметь, бегать, кричать и пугать лошадей;
2. Самовольно открывать двери денников;
3. Трогать, дразнить проходящих мимо лошадей;
4. Заходить в конюшню и подходить к лошадям в нетрезвом виде.

При обращении с лошадьми запрещается:

1. Подходить сзади к лошади;
2. Подходить к лошади, если она Вас не видит;
3. Делать какие-либо резкие движения или издавать громкие звуки;
4. Садиться на лошадь без разрешения инструктора;
5. Садиться на лошадь, привязанную чембуром, либо при не перекинутых на шею поводьях, а также при несобранных, болтающихся поводьях;
7. Отпускать подседланную лошадь, привязывать её на мертвые узлы и оставлять без присмотра;
8. Разрешать подседланной лошади наклонять голову вниз, к земле или траве.

На лошади запрещается:

1. Разрешать лошади наклонять голову вниз, к земле или траве;
2. Издавать резкие звуки и делать резкие движения;
Наказывать лошадь без команды инструктора;
3. Курить верхом на лошади;
4. Менять порядок лошадей в смене, т.е. обгонять впереди идущую лошадь, становиться рядом с другой лошадью, пропускать вперед позади идущую лошадь без команды инструктора;
5. Слезать с лошади без команды инструктора;
6. Отставать от смены;
7. Произвольно менять направление движения без команды инструктора;
8. Бить и дергать лошадь поводом, возбуждать ее другими средствами;
9. Сознательно увеличивать дистанцию с целью догнать впереди идущую лошадь рысью или галопом, и совершать иные действия, не предусмотренные программой движения;
10. Садиться на лошадь в нетрезвом состоянии, а также принимать спиртные напитки непосредственно во время верховой езды;
11. Выпускать повод из рук, бросать его на шею лошади, прикреплять к седлу, наматывать повод на руку и другие части тела, помещать под колено и т.п.;
13. Двигаться вплотную к другим лошадям, поворачивать лошадь задом в направлении находящихся вблизи людей и лошадей;
14. Засовывать руки в карманы;
16. Провозить в карманах острые, режущие и колющие предметы, которые могут травмировать при падении;
17. Спорить с инструктором, не подчиняться инструктору во время прохождения маршрута (занятия).

На маршруте (занятиях) необходимо выполнять все требования инструктора.

Инструктор имеет право досрочно завершить маршрут (занятие) в случае Вашего неподчинения (без возврата денег).

1. При выезде группы с разным уровнем подготовки инструктор ведет группу, ориентируясь на самого слабого всадника.
2. При движении по лесу не следует отводить лошадь от дерева, упираясь в него рукой; необходимо следить за высотой деревьев, оберегая голову.
3. При совершении лошадью движений по собственному побуждению - переходе на более резвый аллюр - необходимо спокойно, уверенно и энергично набрать повод и пресечь ее инициативу в самом начале. Позднее это сделать значительно труднее. Если лошадь вышла из подчинения, необходимо стараться удержаться в седле и остановить ее, совершая движения по кругу. Руководитель похода (инструктор) обязан немедленно оказать помощь клиенту, перехватить его лошадь.
4. В случае возникновения каких-либо непредвиденных ситуаций (лошадь понесла, легла и т.д.), повреждения снаряжения, а также усталости или травме немедленно сообщать об этом инструктору.
5. Лошадь всегда нужно держать за повод, пока её не заберет инструктор.
6. Лакомство можно давать лошади на открытой ладони.
7. Категорически запрещается сразу после работы давать лошади пить воду, есть овёс, семечки или другое зерно!

Для того, чтобы у Вас от езды верхом осталось приятное впечатление, необходимо соблюдать правила техники безопасности.
            </mat-card-content>
        </mat-card>