<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Каприз</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/bd957ce06a062f492674bf2ad636f87e/5B2C963C/t51.2885-15/s640x640/sh0.08/e35/28763622_566366037081238_5403747828272988160_n.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/pasty">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Фрося</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/062da2e9f61c0d29f74e19e3c4510f4b/5B45D5E4/t51.2885-15/s750x750/sh0.08/e35/28765666_1635172026548234_4755716372309213184_n.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/comet">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Ляля</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/779161de30bbd79a13572a51bb8c811b/5B3BBC3F/t51.2885-15/s640x640/sh0.08/e35/28764953_412161405896204_3906619260788539392_n.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/valensia">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Бандит</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/578e49054ab907ba5bcc3f3218e18bf1/5B2D4AAA/t51.2885-15/s640x640/sh0.08/e35/28754538_1941220999273386_4335338571243192320_n.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/bandit">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Гуля</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/2d3200243af8e39040bf14b9d47b988f/5B495EEF/t51.2885-15/s640x640/sh0.08/e35/29089012_223063964909516_4249746049196883968_n.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/bohema">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>