<div class="row">
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Каприз</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_pasty.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/pasty">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Фрося</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_fro.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/comet">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Бандит</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_bandit.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/bandit">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>Гуля</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/staff_bohema.jpg">
            <mat-card-actions>
                <a mat-button color="primary" routerLink="/staff/bohema">
                    ОПИСАНИЕ
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>