<mat-toolbar color="amber">
        <mat-toolbar-row>
            <a mat-button routerLink="/staff">
                <mat-icon>arrow_back</mat-icon>НАЗАД
            </a>
        </mat-toolbar-row>  
    </mat-toolbar>
    <div class="row">
        <div class="column2">
            <mat-card class="margin10">
                <mat-card-header>
                    <mat-card-title>
                        <div class="mat-title">
                            Бандит
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/578e49054ab907ba5bcc3f3218e18bf1/5B2D4AAA/t51.2885-15/s640x640/sh0.08/e35/28754538_1941220999273386_4335338571243192320_n.jpg">
            </mat-card>
        </div>
        <div class="column2">
            <mat-card class="margin10">
                <mat-card-content>
                    <p>
                        Казалось бы, что можно ожидать от лошади с именем "Бандит", не зря же говорят "как назовешь, так и поплывет"? Но на самом деле остерегаться нечего.
                        Главный его "бандитизм" выражается в его желании Вас "зацеловать" и полазать по карманам.
                    </p>
                    <p>
                        Боночка — компанейский парень и настоящий джентельмен. Он бережно относится к людям. 
                        Конь сделает все, чтобы Вам было комфортно, а также что-то может "подсказать" сам.
                        Он подходит как под взрослых, так и под детей. Может многому Вас научить и поможет Вам прекрасно провести досуг :)
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>