<mat-toolbar color="amber">
        <mat-toolbar-row>
            <a mat-button routerLink="/staff">
                <mat-icon>arrow_back</mat-icon>НАЗАД
            </a>
        </mat-toolbar-row>  
    </mat-toolbar>
    <div class="row">
        <div class="column2">
            <mat-card class="margin10">
                <mat-card-header>
                    <mat-card-title>
                        <div class="mat-title">
                            Бандит
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/staff_bandit.jpg">
            </mat-card>
        </div>
        <div class="column2">
            <mat-card class="margin10">
                <mat-card-content>
                    <p>
                        Казалось бы, что можно ожидать от лошади с именем "Бандит", не зря же говорят "как назовешь, так и поплывет"? Но на самом деле остерегаться нечего.
                        Главный его "бандитизм" выражается в его желании Вас "зацеловать" и полазать по карманам.
                    </p>
                    <p>
                        Боночка — компанейский парень и настоящий джентельмен. Он бережно относится к людям. 
                        Конь сделает все, чтобы Вам было комфортно, а также что-то может "подсказать" сам.
                        Он подходит как под взрослых, так и под детей. Может многому Вас научить и поможет Вам прекрасно провести досуг :)
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>