<mat-toolbar color="amber">
        <mat-toolbar-row>
            <a mat-button routerLink="/staff">
                <mat-icon>arrow_back</mat-icon>НАЗАД
            </a>
        </mat-toolbar-row>  
    </mat-toolbar>
    <div class="row">
        <div class="column2">
            <app-images-gallery [images]="images"
                                title="Фрося">
            </app-images-gallery>
        </div>
        <div class="column2">
            <mat-card class="margin10">
                <mat-card-content>
                    <p>
                        Про нее можно сказать: "И в огонь, и в воду, и медные трубы." Лошадь для истинного богатыря: рослая, широкая, нарядная... Ее мало что может смутить или напугать. Куда направишь - там и пройдет. Для нее нет преград: будь то кусты, канавы, деревья или мосты. Она в любой ситуации найдёт решение.
                        Но не стоит забывать, что за столь "мощной" внешностью скрывается ранимая женская натура. Как и любой женщине, ей нравится чувствовать себя любимой, а также отстаивать свою точку зрения.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>