<mat-toolbar color="amber">
    <mat-toolbar-row>
        <a mat-button routerLink="/staff">
            <mat-icon>arrow_back</mat-icon>НАЗАД
        </a>
    </mat-toolbar-row>  
</mat-toolbar>
<div class="row">
    <div class="column2">
        <app-images-gallery [images]="images"
                            title="Каприз">
        </app-images-gallery>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-content>
                <p>
                    Каприз он же Пашка он же Слон, самый старший в семье. Этот конь настоящий профессор! Он тонко чувствует всадника: неопытных
                    новичков катает очень бережно, а вот обучающимся спортсменам придется попотеть и применить на практике все,
                    чему научился.
                </p>
                <p>
                    Каприз знает, на что способен спортсмен, и потребует от него по полной программе. Он удивительно
                    дружелюбный конь, весельчак, знает много трюков. Умеет делать поклон и просить ножкой вкусняшки. Каприз обладает
                    нарядной мастью и очень эффектно получается на фотографиях. Он идеальный конь для обучения верховой езде
                    и любых фотосессий.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>