<mat-toolbar color="amber">
    <mat-toolbar-row>
        <a mat-button routerLink="/staff">
            <mat-icon>arrow_back</mat-icon>НАЗАД
        </a>
    </mat-toolbar-row>  
</mat-toolbar>
<div class="row">
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-header>
                <mat-card-title>
                    <div class="mat-title">
                        Ляля
                    </div>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://scontent-arn2-1.cdninstagram.com/vp/779161de30bbd79a13572a51bb8c811b/5B3BBC3F/t51.2885-15/s640x640/sh0.08/e35/28764953_412161405896204_3906619260788539392_n.jpg">
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="margin10">
            <mat-card-content>
                <p>
                    Валенсия, она же Ляля.
                </p>
                <p>
                    Самая младшая в семье. 
                </p>
                <p>
                    Любвиобильная и решительная лошадка с активной функцией "Автопилот".
                </p>
                <p>
                    Подходит как под начинающего, так и под опытного всадника вне зависимости от возраста: будь то взрослый или ребенок.
                    Любит брать пример со старших товарищей.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>